wsdl/APNPusher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://applepushnotificationgenerator" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://applepushnotificationgenerator" xmlns:intf="http://applepushnotificationgenerator" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://applepushnotificationgenerator" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="APNPusherCall">
    <complexType>
     <sequence>
      <element name="domainName" type="xsd:string"/>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="APNPusherCallResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="APNPusherCallResponse">

      <wsdl:part element="impl:APNPusherCallResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="APNPusherCallRequest">

      <wsdl:part element="impl:APNPusherCall" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="APNPusher">

      <wsdl:operation name="APNPusherCall">

         <wsdl:input message="impl:APNPusherCallRequest" name="APNPusherCallRequest">

       </wsdl:input>

         <wsdl:output message="impl:APNPusherCallResponse" name="APNPusherCallResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="APNPusherSoapBinding" type="impl:APNPusher">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="APNPusherCall">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="APNPusherCallRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="APNPusherCallResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="APNPusherService">

      <wsdl:port binding="impl:APNPusherSoapBinding" name="APNPusher">

         <wsdlsoap:address location="http://localhost:8080/applepushnotificationgenerator/services/APNPusher"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
